@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
body {
    background-color: rgb(30, 45, 30);
}

/* navbar */
.App {
    text-align: center;
    color: #dedcdc;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    text-align: center;
    margin: 3rem 1rem;
}

.text-title-favorites {
    text-align: center;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    font-size: 16px;
    background-color: rgb(221, 138, 138);
    padding: 2rem 4rem;
}
a {
    text-decoration: none;
    color: rgb(56, 56, 56);
}
nav {
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: #dedcdc;
}

.text-logo {
    font-size: 2rem;
    margin: 1rem 2rem 1rem 3rem;
}
.text-favorite {
    display: flex;
    align-items: center;
    margin: 1rem 3rem 1rem 2rem;
}

.heart-logo {
    width: 14px;
    background-color: rgb(221, 138, 138);
    border-radius: 4px;
    padding: 2px;
}
.plant-logo {
    width: 40px;
    margin-right: 1rem;
}

/* titles views */
.text-error {
    text-align: center;
    margin: 3rem 0;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
}

.favorites-title {
    text-align: center;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    margin: 3rem 0;
}

/* text home*/
.text-title1 {
    text-align: justify;
    color: #000000;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    background-color: #dedcdc;
    padding: 3rem 5rem 3rem 6rem;
}

.text-title2 {
    text-align: justify;
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    background-color: rgb(221, 138, 138);
    padding: 3rem 8rem 3rem 6rem;
}
.text-titles {
    display: flex;
    padding: 0rem 0 3rem 0;
}

/* card gallery */
.favorites-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 2rem;
    padding: 4rem 6rem 6rem 6rem;
    place-items: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    color: #dedcdc;
    text-align: center;
    position: relative;
}

.favorites-container .card-body img {
    transition: all 500ms ease-out;
}

.favorites-container .card-body .text-card {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 31, 31, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.favorites-container .card-body:hover > .text-card {
    opacity: 1;
    visibility: hidden;
}

.favorites-container .card-body:hover > .text-card h4 {
    margin-top: 100px;
    margin-bottom: 15px;
}

.favorites-container .card-body .text-card h4 {
    color: #ffffff;
    margin-bottom: 100px;
    transition: all 500ms ease-out;
    margin-top: 50px;
}

.favorites-container .card-body .text-card .visit-btn {
    color: #ffffff;
    line-height: 1.5;
    margin: auto;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-items: center;
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    color: #dedcdc;
    text-align: center;
    position: relative;
    gap: 2rem;
    padding: 0 6rem 6rem 6rem;
}

.card-body {
    position: relative;
    overflow: hidden;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0, 50);
}
.cards-container .card-body img {
    transition: all 500ms ease-out;
}

.cards-container .card-body .text-card {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(31, 31, 31, 0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.cards-container .card-body:hover > .text-card {
    opacity: 1;
    visibility: visible;
}

.cards-container .card-body:hover > .text-card h4 {
    margin-top: 100px;
    margin-bottom: 15px;
}

.cards-container .card-body .text-card h4 {
    color: #ffffff;
    margin-bottom: 100px;
    transition: all 500ms ease-out;
    margin-top: 50px;
}

.cards-container .card-body .text-card .visit-btn {
    color: #ffffff;
    line-height: 1.5;
    margin: auto;
    .text-card .card.favorite {
        background-color: rgb(221, 138, 138);
    }
}
.card-image {
    object-fit: cover;
    width: 100%;
    height: 300px;
    color: transparent;
    text-align: center;
}

.visit-btn {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    padding: 5px 20px;
    background-color: #dedcdc;
    border-style: none;
    border-radius: 6px;
    background-color: transparent;
    border: 2px solid #dedcdc;
    color: #dedcdc;
}

.url-btn {
    margin: 2rem;
}

.btn-heart {
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    border: 2px solid transparent;
}
/*favorites section*/
.button-home {
    display: block;
    text-align: center;
    padding: 5px 20px;
    background-color: #dedcdc;
}

/* footer */
.text-footer {
    background-color: #ddd7d7;
    padding: 1rem;
    text-align: center;
}
.logo-footer {
    width: 40px;
}

/* responsive */
@media screen and (max-width: 768px) {
    .text-titles {
        display: flex;
        flex-direction: column;
        padding: 0rem 0 3rem 0;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}

@media screen and (max-width: 540px) {
    .text-titles {
        display: flex;
        flex-direction: column;
        padding: 0rem 0 3rem 0;
    }

    .cards-container {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }
}
